@{
    ViewBag.Title = "Coding";
}
@{
    ViewBag.Title = "coding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>coding</h2>

<div class="jumbotron">
    <p class="bg-primary well-lg">this is ist achievement</p> 

</div>