@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bank of punjab</h1>
    <p class="lead">you can make depoaite at any time</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Registration</h2>
        
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>log  in  </h2>
        
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">login &raquo;</a></p>
    </div>
</div>